Repository itsferdiardiansa/Stock-Market-Api: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier ., eslint --fix, prettier --write

chore: updated renovate configurations
  renovate.json
Due: prettier --write

chore: updated schedule on lockFileMaintance
  renovate.json
Due: prettier --write

feat: created search endpoints
  src/constants/symbols.ts
  src/controllers/search.controller.ts
  src/middlewares/validate.ts
  src/routes/api/v1/search.routes.ts
  src/types/api.ts
  src/utils/axiosInstance.ts
  src/validators/marketPerformance.validate.ts
  src/validators/search.validate.ts
Due: prettier ., eslint --fix

refactor: changed file-naming
  src/app.ts
  src/constants/status-messages.ts
  src/controllers/market-performance.controller.ts
  src/controllers/search.controller.ts
  src/middlewares/error-handler.ts
  src/middlewares/not-found.ts
  src/routes/api/v1/index.ts
  src/routes/api/v1/market-performance.routes.ts
  src/services/fmp-api.service.ts
  src/types/api.ts
  src/utils/axios-instance.ts
  src/utils/fetcher.ts
  src/utils/response.ts
  src/validators/market-performance.validate.ts
Due: prettier ., eslint --fix

feat: Implemented some things
  .env.example
  eslint.config.mjs
  package.json
  src/app.ts
  src/config/platform.ts
  src/constants/status-messages.ts
  src/controllers/market-performance.controller.ts
  src/controllers/search.controller.ts
  src/middlewares/error-handler.ts
  src/middlewares/http-headers.ts
  src/middlewares/http-logger.ts
  src/middlewares/not-found.ts
  src/middlewares/validate.ts
  src/services/fmp-api.service.ts
  src/types/api.ts
  src/types/validated-request.ts
  src/utils/fetcher.ts
  src/utils/logger.ts
  src/utils/response.ts
Due: prettier ., eslint --fix, prettier --write

doc: update project documentation
  README.md
Due: prettier --write

docs: updated project documentation
  README.md
Due: prettier --write

chore: update package.json
  package.json
Due: prettier --write

Path conditions:
  prettier .: any of: **/*.ts
  eslint --fix: any of: **/*.ts
  prettier --write: any of: **/*.{json,md}
